<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Auth App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" *ngIf="isLoggedIn()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn()" type="submit">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--https://chat.deepseek.com/a/chat/s/9a29306d-b83b-4bcb-9fea-a4ad66c6957d-->