<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center"> 
                <h3 class="card-title">Sign Up</h3>
            </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
              <label for="login" class="form-label">Login</label>
              <input
                type="text"
                id="login"
                [(ngModel)]="login"
                name="login"
                class="form-control"
                placeholder="Enter your login"
                required
              />
            </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  id="name"
                  [(ngModel)]="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter your name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter your password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
            <div class="mt-3 text-center">
              <p class="mb-0">Already registered? <a routerLink="/login">Click to sign in!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>