
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #6c757d;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar a i {
    margin-right: 10px; 
  }